  body{
    overflow-x: hidden;
  }
  
  #cal-left{
      float: left;
      width: 48%;
      text-align: center;
  }
  
  #cal-right{
      float: right;
      width: 48%;
      text-align: center;
  }

  #wdth {
      margin: auto;
      margin-bottom: 60px;
      width: 70%;
      text-align: center;
    }
    
    .abc {
        margin-left:-100px ;
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
        border: none;        
    }

    

    th,
    td {
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    #calculate-btn {
        margin-top: 40px;
        margin-bottom: 40px;
        border-radius: 9px;
        width: 160px;
        background-color: #0060DF;
        color: #ffffff;
        font-size: 25px;
    }

    #calculate-btn:hover {
      opacity: 0.8;
    }

    th {
        background-color: #dcdcdc;
        color: black;
        height: 40px;
    }

    #price-table td {
        font-size: 30px;
        font-weight: bold;
    }

    tr {
        border-bottom: 1px solid #E2E3E5;
        font-size: 30px;
        color: black;
        text-align: center;
    }

    #angle-0, #angle-1, #angle-2, #angle-3, #angle-4, #angle-5 {
      display: block;
      height: 65px;
      padding-top: 9px;
      border-bottom: 1px solid #E2E3E5;
    }

    .embed-responsive-item {
        top: 30%;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
    }

    /* Center the iframe */
    .embed-responsive-item {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media only screen and (max-width: 600px) {
        .range-contaner {
            flex-direction: row;
            width: 28%;
        }
        .row {
            width: 100%;
        }
        
        #cal-left{
            float: none;
            margin: auto;
            width: 100%;
          }
          
          #cal-right{
              float: none;
              margin: auto;
              width: 100%;
          }

        #wdth {
          margin: auto;
          margin-bottom: 40px;
          width: 95%;
          text-align: center;
        }
        
        .abc {
            margin-left: 0;
        }

    .rng {
      margin: auto;
      width: 90%;
    }
    
    table {
        margin: auto;
        border-collapse: collapse;
        border: none;        
    }

    th,
    td {
        border: none;
        padding: 10px;
        text-align: center;
    }

    #calculate-btn {
        margin-top: 40px;
        margin-bottom: 40px;
        border-radius: 9px;
        width: 150px;
        background-color: #0060DF;
        color: #ffffff;
        font-size: 20px;
    }

    #calculate-btn:hover {
      opacity: 0.8;
    }

    th {
        background-color: #dcdcdc;
        color: black;
        height: 30px;
    }

    #price-table td {
        font-size: 14px;
        font-weight: bold;
    }

    tr {
        height: 40px;
        border-bottom: 1px solid #E2E3E5;
        font-size: 14px;
        color: black;
        text-align: center;
    }

    #angle-0, #angle-1, #angle-2, #angle-3, #angle-4, #angle-5 {
      display: block;
      height: 40px;
      padding-top: 9px;
      border-bottom: 1px solid #E2E3E5;
    }

    }
    /* ________________ */

/*table {
    border-collapse: collapse;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}

table,
th,
td {
    border: none;
}

th,
td {
    padding: 10px;
    text-align: center;
}

#calculate-btn {
    border-radius: 70px;
    width: 260px;
}

th {
    background-color: rgb(220, 220, 220);
    color: black;
    height: 30px;
    border-radius: 50px;
}

#prices-table td {
    font-size: 30px;
    font-weight: bold;
}

tr {
    font-size: 30px;
    color: black;
    text-align: center;
}

.embed-responsive-item {
    top: 30%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

/* Center the iframe */
/*.embed-responsive-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .range-contaner {
        flex-direction: column;
    }

    .row {
        width: 100%;
    }
}*/

/* ________________ */