*{
    margin: 0;
    padding: 0;

}
.GEXBOT{
color: rgb(222, 66, 91);
}
.GEXBOT:hover{
    color: rgb(222, 66, 91);
   
}


.update{
 background-color: rgb(41, 41, 41);
}
.light-grey {
  background-color: rgb(120, 120, 120);
}

.gree_col{
    color: lightgreen;
}

#chart-container {
    position: relative;
     height: 110vh; 
    overflow: hidden;
    margin: 0 auto; 
}