{% if user.is_authenticated %}
<h1>Welcome, {{ user }}</h1>

{% else %}
<h1>Not logged in</h1>
{% endif %}

{% if user.subscription.is_active %}
<h1>Subscriped</h1>

{% else %}
<h1>Not subscriped</h1>
{% endif %}
<a href="{% url 'our_service' %}">Our Service</a>
<script src="https://www.paypal.com/sdk/js?client-id=AbFRBjEoES6U1c57rk1l8fpQ4LBGD1cGhDeFewe_PXF_4xVFibn3gRCHG0IHv4VP_2RiSEXnnzkMMt4J&vault=true&intent=subscription">

</script> // Add your client_id

<div id="paypal-button-container"></div>

<script>

       paypal.Buttons({

        createSubscription: function(data, actions) {

          return actions.subscription.create({

           'plan_id': 'P-4R8585732M678901JMREPCYI' // Creates the subscription

           });

         },

         onApprove: function(data, actions) {

           alert('You have successfully subscribed to ' + data.subscriptionID); // Optional message given to subscriber

         }

       }).render('#paypal-button-container'); // Renders the PayPal button


</script>
