{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>EasyTrade</title>
    <!-- Favicon-->
    <!--        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />-->
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" type="text/css" href=" {% static 'styles.css'%}">
</head>

<body>

    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark backgroundColor fixed-top">
        <div class="container px-5">
            <!-- <a class="navbar-brand" href="#!">Start Bootstrap</a> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
                    {% if user.is_authenticated %}
                    {% comment %} <li class="nav-item"><span class="nav-link">Hello {{ user.username }}</span></li> {% endcomment %}

                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'account_logout' %}">Sign Out</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'our_service' %}">Our Services</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <!-- Header-->
    <div class="background">
        <header class="py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2">Trading</h1>
                            <p class=" display-5 fw-normal text-white mb-4">Trade With Ease</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#payment">Subscribe </a>
                                {% comment %} <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <!-- Pricing section-->
    <section class="bg-light py-5 border-bottom " id="payment">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h2 class="fw-bolder">Pay as you grow</h2>
                <p class="lead mb-0">With our no hassle pricing plans</p>
            </div>
            <div class="row gx-5 justify-content-center pay ">
                <!-- Pricing card free-->
                <div class="col-lg-6 col-xl-4 text-center">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-5">
                            <div class="small text-uppercase fw-bold text-muted">Monthly</div>
                            <div class="mb-3">
                                <span class="display-4 fw-bold">$150</span>
                                <span class="text-muted">/ mo.</span>
                            </div>

                            <div class="d-grid">
                                <a class="btn btn-outline-primary" href="{% url 'monthly-subscription' %}">Subscribe for
                                    one month</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Pricing card pro-->
                <div class="col-lg-6 col-xl-4 text-center">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-5 card">
                            <div class="small text-uppercase fw-bold">
                                <i class="bi bi-star-fill text-warning"></i>
                                Semi-Annual
                            </div>
                            <div class="mb-3">
                                <span class="display-4 fw-bold">$750</span>

                            </div>
                            <div class="d-grid"><a class="btn btn-primary"
                                    href="{% url 'semi-annual-subscription' %}">Subscribe for 6 month</a></div>
                        </div>
                    </div>
                </div>
                <!-- Pricing card enterprise-->
                <div class="col-lg-6 col-xl-4 text-center">
                    <div class="card">
                        <div class="card-body p-5">
                            <div class="small text-uppercase fw-bold text-muted">Annual</div>
                            <div class="mb-3">
                                <span class="display-4 fw-bold">$1200</span>

                            </div>

                            <div class="d-grid"><a class="btn btn-outline-primary"
                                    href="{% url 'annual-subscription' %}">Subscribe for One Year</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container px-5">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    {% comment %} <script src="js/scripts.js"></script> {% endcomment %}
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>

</html>