{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row w-100">
  <!-- chart col -->
  <div class="col-xl-9 col-md-12 col-sm-12">

  <div id="chart-container"></div>  
  </div>


  <div class="col-xl-3 col-md-12 col-sm-12" style="background-color: rgb(18, 18, 18);">

  <div class="d-flex flex-column">
    <p class="fs-6 text-light update">Update</p>
    <div class="bg-dard text-light">

    <div class="row">
      <div class="col">
        <p class="fs-6 text-start">Date</p> 
      </div>
      <div class="col">  
      <p id="date-p" class="fs-6 text-end">6/8/2023</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p class="fs-6 text-start">Time</p> 
      </div>
      <div class="col">  
      <p id="time-p" class="fs-6 text-end">11:02:46 AM</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p  class="fs-6 text-start">spot</p> 
      </div>
      <div class="col">  
      <p id="spot-p" class="fs-6 text-end">4280.73</p>
      </div>
    </div>
  
    </div>

    <p class="fs-6 text-light update">Exipry</p>
    <p class="fs-6 text-light update">Volume</p>

    <div class=" bg-dard text-light">

    <div class="row">
      <div class="col">
        <p class="fs-6 text-start" style=" color:rgb(252, 177, 3)">Zero Gamma</p> 
      </div>
      <div class="col">  
      <p id="zero-gamma-p" class="fs-6 text-end">4272.031</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p class="fs-6 text-start" style="color: rgb(3, 255, 53);">Major Positive</p> 
      </div>
      <div class="col">  
      <p id="major-positive-volume-p" class="fs-6 text-end">4289.375</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p class="fs-6 text-start text-muted" style="color: rgb(61, 138, 68);">Major Negative</p> 
      </div>
      <div class="col">  
      <p id="major-negative-volume-p" class="fs-6 text-end">4260</p>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <p class="fs-6 text-start text-muted">Net Gex</p> 
      </div>
      <div class="col">  
      <p id="net-gex-volume-p" class="fs-6 text-end gree_col">34.909</p>
      </div>
    </div>
  

    </div>
  
    <p class="fs-6 text-light update">Open Interest</p>

    <div class=" bg-dard text-light">

    <div class="row">
      <div class="col">
        <p class="fs-6 text-start" style="color: rgb(232, 121, 249);">Major Positive</p> 
      </div>
      <div class="col">  
      <p id="major-positive-oi-p" class="fs-6 text-end">4289.375</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p class="fs-6 text-start" style="
        color: rgb(162, 28, 175);">Major Negative</p> 
      </div>
      <div class="col">  
      <p id="major-negative-oi-p" class="fs-6 text-end">4260</p>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <p class="fs-6 text-start text-muted">Net Gex</p> 
      </div>
      <div class="col">  
      <p id="net-gex-oi-p" class="fs-6 text-end">34.909</p>
      </div>
    </div>
  

    </div>

    <p id="update" class="fs-6 text-light update">Max Change Gex</p>

    <div class=" bg-dard text-light">

    <div class="row">
      <div class="col">
        <p class="fs-6 text-start">1 m</p> 
      </div>
      <div class="col">
        <p id="max-change-1-a" class="fs-6 text-start gree_col">4285</p> 
      </div>

      <div class="col">  
      <p id="max-change-1-b" class="fs-6 text-end gree_col">0.38Bn</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p class="fs-6 text-start" style="color: rgb(93, 214, 245);">5 m</p> 
      </div>
      <div class="col">
        <p id="max-change-5-a" class="fs-6 text-start gree_col">4265</p> 
      </div>

      <div class="col">  
      <p id="max-change-5-b" class="fs-6 text-end gree_col">1.76Bn</p>
      </div>
    </div>     

    <div class="row">
      <div class="col">
        <p class="fs-6 text-start" style="color: rgb(0, 162, 222);">10 m</p> 
      </div>
      <div class="col">
        <p id="max-change-10-a" class="fs-6 text-start gree_col">4290</p> 
      </div>

      <div class="col">  
      <p id="max-change-10-b" class="fs-6 text-end gree_col">1.96Bn</p>
      </div>
    </div>     
    
    
    <div class="row">
      <div class="col">
        <p class="fs-6 text-start" style="color: rgb(0, 108, 192)">15 m</p> 
      </div>
      <div class="col">
        <p id="max-change-15-a" class="fs-6 text-start gree_col">4290</p> 
      </div>

      <div class="col">  
      <p id="max-change-15-b" class="fs-6 text-end gree_col">2.62Bn</p>
      </div>
    </div>  
    
    <div class="row">
      <div class="col">
        <p class="fs-6 text-start" style="color: rgb(0, 52, 148);">30 m</p> 
      </div>
      <div class="col">
        <p id="max-change-30-a" class="fs-6 text-start gree_col">4290</p> 
      </div>

      <div class="col">  
      <p id="max-change-30-b" class="fs-6 text-end gree_col">4.72Bn</p>
      </div>
    </div>  
    </div>

  </div>
  </div>

</div>
{% endblock content %}
{% block scripts %}
{% comment %} <script src="static/js/spx.js"></script> {% endcomment %}
<script src="{% static 'js/echarts.min.js' %}"></script>
{% comment %} <script src="{% static 'js/spx.js' %}" data-person="{{ person }}" ></script> {% endcomment %}
<script>
    const apiKey = "{{ api_key }}";
</script>
<script   src="{% static 'js/spx.js' %}" ></script>


{% endblock scripts %}

